* {                     
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
    color: white;
}

.logo{
    cursor: default;
}

.links{
    display: flex;
    gap: 20px;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: color 0.3s;
    cursor: default;

}

.repo-button {
    padding: 10px 20px;
    background-color: darkorange;
    color: #000;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.repo-button a {
    text-decoration: none;
    color: inherit;
}
