* {                     
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
    font-family: Montserrat;
    color: white;
    cursor: default;
    justify-content: center;
}

html{
    background-color: black;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
    color: white;
    
}

.logo{
    cursor: default;
}

.links{
    display: flex;
    gap: 20px;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: color 0.3s;
    cursor: default;

}

.repo-button {
    padding: 10px 20px;
    background-color: darkorange;
    color: #000;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    cursor: default;
}

.repo-button:hover{
    background: black;
}

.repo-button a {
    text-decoration: none;
    color: white;
    cursor: default;
    transition: 0.3s ease;
    background-color: transparent;
}

.hero-section{
    width: 100%;
    height: 400px;
    justify-items: center;
    background-color: black;
}

.intro-text h2{
   
    cursor: default;
    font-size: 50px;
}

.hero-image img{
    width: 840px;
    
}

.about-section{
    width: 100%;
    height: 400px;
    margin-top: 160px;
    justify-items: center;
    background-color: black;
}

.about-section h2{
    
    cursor: default;
    font-size: 50px;
}

.about-section h3{
    font-size: 55px;
    font-weight: 100px;
}

.about-section h4{
    font-size: 40px;
}

span{
    color: #FE7D84;
}

.project-section {
    width: 100%;
    background-color: #303030;
    height: 600px;
}

.project-section .heading{
    padding-top: 50px;
    padding-left: 50px;
}

.project-section h3{
    font-size: 45px;
}

.project-section h3{
    font-size: 45px;
}
